<p id="notice"><%= notice %></p>

<p>
	<h1>Congratulations!</h1>
  <h2>Confirmation number: <%= @widget.id %>
</p>
<p>
  <strong>Email:</strong>
  <%= @widget.email %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @widget.quantity %>
</p>

<p>
  <strong>Color:</strong>
  <%= @widget.color %>
</p>

<p>
  <strong>Due by:</strong>
  <%= @widget.due_by %>
</p>

<p>
  <strong>Widget Type:</strong>
  <%= @widget.w_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @widget.status %>
</p>

<%= link_to 'Edit Order', edit_widget_path(@widget) %> (admin only)

</br></br></br>
<h2>Wait...do you need MORE widgety goodness?</h2>
<p>Please note that the above order is already placed and this will create a NEW order:</p>
<%= render 'reorder_form', widget: @new_widget %>
